* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkblue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);
    --Red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
}

body {
    color: var(--grayish-blue);
    background: var(--light-gray);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

header {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

h2 {
    color: var(--darkblue);
    font-weight: 200;
}

h2:nth-child(2) {
    font-weight: 600;
}

header p {
    font-size: 14px;
    margin: 15px 0;
    line-height: 25px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1150px;
    margin: 0 auto;
}

.container .box {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: #fff;
    margin: 15px;
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.box::after {
    content: "";
    height: 3px;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
}

.box-cyan::after {
    background: var(--cyan);
}

.box-red::after {
    background: var(--Red);
}

.box-blue::after {
    background: var(--Blue);
}

.box-orange::after {
    background: var(--Orange);
}

.box-push {
    transform: translateY(50%);
}

.box h2 {
    color: var(--darkblue);
    font-weight: 600;
}

.box p {
    line-height: 25px;
    margin: 15px 0px 30px;
}

.container img {
    display: block;
    margin-left: auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:480px) {
    .box-push {
        transform: translateY(0);
    }
}

@media (max-width:992px) {
    .box-push {
        transform: translateY(0);
    }
}